name: CI

on: [push, pull_request]

jobs:
  Test:
    runs-on: macos-14

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Install Max
        run: brew install cycling74-max

      - name: Clone max-test
        run: |
          mkdir -p ~/Documents/Max\ 9/Packages
          cd ~/Documents/Max\ 9/Packages
          git clone https://github.com/Cycling74/max-test.git
          cd max-test
          git submodule update --init

      # The Fixnum (and Bignum) classes were last supported in Ruby 2.3, which
      # reached end-of-life in 2019:
      #   https://www.ruby-lang.org/en/downloads/branches/
      - name: Patch max-test
        run: |
          cd ~/Documents/Max\ 9/Packages/max-test
          sed -i '' -e 's/Fixnum/Integer/g' ruby/rosc/lib/osc.rb

      - name: Build oscar extension
        run: |
          cd ~/Documents/Max\ 9/Packages/max-test
          cmake -S . -B build -DCMAKE_POLICY_VERSION_MINIMUM=3.5
          cmake --build build
          codesign --force --deep --sign - extensions/oscar.mxo

      - name: Configure Max and max-test
        run: |
          mkdir -p ~/Library/Application\ Support/Cycling\ \'74/Max\ 9/Settings
          echo "max setsearchpath 5 \"Macintosh HD:$GITHUB_WORKSPACE\" temp;" > ~/Library/Application\ Support/Cycling\ \'74/Max\ 9/Settings/maxsearchpaths.txt
          cd ~/Documents/Max\ 9/Packages/max-test
          mv misc/max-test-config-example.json misc/max-test-config.json
          rm -r patchers

      - name: Install Ruby gems
        run: gem install sqlite3

      # The test runner is more-or-less broken. To get a non-zero return code,
      # you have to require the test runner Ruby script, and also pass an extra
      # architecture argument to keep the test runner from calling exit; see
      # https://github.com/Cycling74/max-test/issues/23
      - name: Run tests
        run: |
          cd ~/Documents/Max\ 9/Packages/max-test/ruby
          ruby -e 'require("./test.rb")' \
               -e 'exit 1 if ENV["MAXTEST_PASS"] != "pass"' \
               /Applications/Max.app arm64 2> stderr.txt

      - name: Show standard error
        run: cat ~/Documents/Max\ 9/Packages/max-test/ruby/stderr.txt
        if: always()
